.terraform
.terraform*
terraform.*
venv
env
.env
*.zip
__pycache__
__pycache__/*
*.pyc
__pycache__/
*.py[cod]
*$py.class
iqoptionapi/
iqoptionapi
resources/COTAHIST_A2021.TXT
logs
logs/*
output
output/*
*config/*
src/config/config.py
*/config.py
.exchange
webscraping/dependencies/*
